
@{
    ViewBag.Title = "tryy";
    Layout = "~/views/shared/_adminlayout.cshtml";
}

<h2>tryy</h2>

<script>
    alert("you already send request");
</script>

@*@{public ActionResult sendrequest() {

        return @RedirectToAction("listprojects");
    } }*@
